.dark .ql-container.ql-snow,
.dark .ql-toolbar.ql-snow {
  border-color: #626467; /* Tailwind gray-600 */
}

/* .dark .ql-snow .ql-stroke,
.dark .ql-snow .ql-fill,
.dark .ql-snow .ql-picker {
  stroke: white;
  color: white;
} */

/* .dark .ql-snow .ql-clean:hover .ql-stroke,
.dark .ql-snow .ql-clean:hover .ql-stroke .ql-fill,
.dark .ql-snow .ql-clean:hover .ql-fill,
.dark .ql-snow .ql-clean:hover .ql-picker {
  stroke: #06c !important;
  color: #06c !important;
  fill: #06c !important;
} */

.ql-snow .ql-picker-options {
  background-color: white;
}

.dark .ql-snow .ql-picker-options {
  background-color: hsl(0 0% 3.9%);
}

.dark .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options,
.dark .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #626467;
  color: white;
}
